*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Julius Sans One', sans-serif;
}
hr{
  border: 00 solid red;
}

/* Center the loader */
.loader {
  position: absolute;
  text-align: center;
  color: white;
}

.loader-wrapper{
position: fixed;
top: 0;
left: 0;
background-image: radial-gradient( #796035, black);
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
transition: : vanish 1s forwards;
}

.disppear{
animation: vanish 3s forwards;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: grey;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) { left: 8px; animation: lds-ellipsis1 1s infinite; }
.lds-ellipsis div:nth-child(2) { left: 8px; animation: lds-ellipsis2 1s infinite; }
.lds-ellipsis div:nth-child(3) { left: 32px; animation: lds-ellipsis2 1s infinite; }
.lds-ellipsis div:nth-child(4) { left: 56px; animation: lds-ellipsis3 1s infinite; }
@keyframes lds-ellipsis1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes lds-ellipsis3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
@keyframes lds-ellipsis2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(24px, 0);}
}
@keyframes vanish {
  100%{ opacity: 0; visibility: hidden;}
}
/************************************************* Header/logo Title */
.header {
  text-align: center;
  padding: 1px;
  text-decoration: none;
  color: red;
  background-color: inherit;
  }
}
#MAINLOGO{
  font-family: 'Unica One', fantasy;
  padding: 1px;
  text-decoration: none;
  color: #red;
  background-color: pink;
  }
.header h1 {
  text-align: center;
  font-size:1.7vw;
  justify-content: center;
}
.header p {
  font-size:2vw;
}
/************************************************* NAVBAR */
.NAVBAR{
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: inherit;
  justify-content: center;
  text-decoration: none;
  display: flex;
}
.NAVBAR a {
  position: relative;
  text-decoration: none;
  float: left;
  display: block;
  color: #3f4238;
  text-align: center;
  padding: 20px 40px 00px 40px;
}
.NAVBAR a:hover {
  display: block;
  opacity: 100%;
  color: #6b705c;
}
/************************************************* HOMEIMAGE */
/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

}
/* Sidebar/left column */
.side {
  min-height: 600px;
  max-height: 710px;
  position: relative;
  width: 35%;
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: inherit;
  padding: 0px 10px 40px 100px;
}
.main {
  min-height: 600px;
  max-height: 710px;
  position: relative;
  width: 35%;
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: inherit;
  padding: 0px 60px 40px 60px;
}
.right {
  min-height: 600px;
  max-height: 710px;
  position: relative;
  width: 35%;
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: inherit;
  padding: 0px 100px 40px 10px;
}
.PHOTOCONTAINER {
  width: 100%;
  height: 100%;
  background-image:url("https://lh3.googleusercontent.com/ipOf2Vynp8RjUp4uVAZ2VT-KEvWtP5htcG9OFk4I5Gd9OS1AayFLcCbLE46nRi6JoUGtmXj7PycvS_wV-zKudu9vCdfPEyILS_VpqvqqIML74GPVxBD5O5PqXFAR8iF2_5_6r5wb3837rwuPKDMlApCuc6sXyFSo52DFaF56gIwa2rYt94KNyvRHClv3sJjDdqeSR0a-2H0ZONyVrQWB2EXYiT9qix8umlaPPo9PzzQX3pzAq3tNkApL8nNw4DjcRd5UbDPN00COezx_HqwoMwmORwKRpN9tfl6VhEB02M02amKmtE66xiRKp1Tx8P5nw4Revq_R5G0t0l2VLICKyLPWlK8VrrLy1hEJEb4M-gk2qD56cwDj4vjoZbDZCYi4pgnx1uk4kSdUToBsIiLKTEmz3M0RPjnYeFkYLhgEzFxrnVDHY9LSaarmN4nW7OZ4V50QlOkeXTwuhO05pMcBedlpyibMSSoGEG7crqDHxx_ecGoRAoz-Ki0PBdcGXtySuHlHI8u_hXIKy3m1a2mTiFMoSL2K_IcWSCQB8ESdYAnwzHL3WGUTPnbyssnSYJILRi86blF-3QQitM-sWZU1VxYvhhvF9UrF3HesmUzB69wnmr5tiZ6_0ilsh4Oagi7d-v7E4NVNK3U51SyxS_8NKQKTGxN-7tSNWOxoTUds3LORWkq2pHwj-4vkFQOkSjoKskOtJtQvWsYjm3nbpgp1JkZhDepZHzu0-_Lcjzkj6rmU0_CoEgopQXOTEqq7WMk=w603-h903-no?authuser=0");
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);
  border-radius: 5px;
  -moz-boxshadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}

.one{
  width: 100%;
  min-height: 500px;
  max-height: 600px;
  background-image:url("https://images.unsplash.com/photo-1634403665481-74948d815f03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);
  -moz-boxshadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}
.MAINPHOTO{
  width: 100%;
  height: 100%;
  background-image:url("https://lh3.googleusercontent.com/6ZgjGyIa-OXwCH6sI-goc-ahwmHh4jJYDmtX1qui3xhJ8HjOWM9Pjc9kJB9ehvbxejUFf0hB04bMjjUa8fNqz7gMXVOciDdd6jUeaKovlLMF8QGVDuI5Rw_O8baneBm_opffPXo6kKe0p2PvdjNY3qfGbyerdo_qtbVWYXg0EfNd3m91wVXXRDEwR7iLRUSMVWG44nB2g0yZty30-uXoifNENfqHMaqCZ3VxarFsVK-KtQcuQOHYKjB3eSADjjca95RoDPQpXG7Ldjqp4HsylEQPnIikVGELzqbqTUfhEwdzOQ1TeByM_Jnp_xnlq9EkoOZpVV5vl_t5SUKhlODW9fGoh1FemBqJx74FOWPbdRwU8r3vfdoCk_iiNQ7grQkfcOjeH8ezd21QvEUkhmowv6NL7WlGZ1w-Y0LllPiDn_IIn9mPH7DXmgNzthx-JPwbuzFESQdFqXhVWbjukDVF8BG_q8dwKjW9hUkkIODK7hUrZDjQFGxKikvmOPdkNQPq-tBB3MWfNGchMFLUi_PLgLyAFaSd_g-0rNYWUHfuy6BdV_OSQAtfJ8XO248ihhr0CJV8MXA-4QAgWqZQ6JdWqouCevu8nXjPotSc13laaw-e40O_qfzl2Ww8ciHakA7sW9Ugo0h80Zwq_dT_yTuh_lNSbO1LMcAUyF5Al08H6rULzbaswTCyr30WcZJUhW5hkoRqNtbalpWiaq0_JqF9ODFV__1LjYh25aHdfciLESE6iR2cK0ddhKhMtkzfOfw=w723-h904-no?authuser=0");
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);
  border-radius: 5px;
  -moz-boxshadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}

.RIGHTPHOTO{
  width: 100%;
  height: 100%;
  background-image:url("https://lh3.googleusercontent.com/T9u17dJvrCuuM3SE1-arSMl0sUZ3fSxaPvJG986uOfPewFxsvHkssFBKGa8fslIDAQGZhCGMNd5AINMGDHfuH4I6tZpDIE3gTYn6QKl77KGJ23E6r8kau1d9bTFXZCxdK4Y40WYZlmqBn9aWD3x407e5-jmgsI1Art8lnypp7V63bkaQWU9L1rUtn4c0UfGJGhjIqqyZ2FVg5aAaGzpbsnzvDvaubY6d5YhZBCb6gle7YfVtjXjtYGLCOPnnQRrqZZvj1tlhLkMTJdpGQIDthpPx8-SAB6sxBPAr8eDgZ9RulxpBHiLXPi2f4VYORu1I1aFwWXqWPAPfCeaxxbPQ86qtY_IQfXrsGJh6p__j2aNoEBhMdX4WuyyY7fHyB0ND9FYsFW465Gs_wzMVQFkTULv1oI9NiK9AhiXpiTMI8S41vc5oVenbaNP6LLqHU-uUdrZA2ONkWQEQvQMV2I3ZIlYnCJ0ywKqiD7LbPqiIMGcUduE8Gs7eWvd0SJCr8lx9Oda48cWn0F2iRjrWuqvbHgAQC_nLWhA9ptnzJIQIWIL4VFNQ__BI6A8Zb_t1lLaXmFowWBIZSPlh4VLyDObdq3E4QsUg8OOMqALtKSvGd661jJtm2bSUAhMZiVTRXEhYJqjv1RBrSIgMdfRpdJa31HKFNEjC7uArcprmntg1MKiuF7QpP7fiuZoatXQTz9-ng4TjojvgGBHVGY6fCBYmghFePOx8S9TGfCLDhoCOjtV_qw-e3X6ShgUL-szfkcU=w678-h903-no?authuser=0");
  background-size: contain;
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);
  border-radius: 5px;
  -moz-boxshadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}
IMG{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  }
.overlay{
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  transition: 1.9s ease;
  background-image: radial-gradient(#bdb98a, #50473e, black);
  display: block;
  padding: 20px;
  }
.PHOTOCONTAINER:hover .overlay{
  opacity: 80%;
}
.MAINPHOTO:hover .overlay{
  opacity: 80%;
}
.RIGHTPHOTO:hover .overlay{
  opacity: 80%;
}
.one:hover .overlay{
  opacity: 80%;
}
.text {
  font-weight: bold;
  text-align: center;
  color: BLACK;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/************************************************* ABOUT PAGE */
/*CONTENT */
.COVER{
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}
.box{
  width: 100%  ;
  background-color: inherit;
  padding: 20px;
  text-align: justify;
  color: #d4c7b0;
  }
.sideABOUT {
  -ms-flex: 55%; /* IE10 */
  flex: 55%;
  background-color: inherit;
  padding: 1px 20px 1px 100px;
  text-align: justify;
  font-family: 'Dosis', sans-serif;

}
.rightABOUT {
  -ms-flex: 45%; /* IE10 */
  flex: 45%;
  background-color: inherit;
  padding: 1px 100px 1px 20px;
  font-family: 'Dosis', sans-serif;
  text-align: justify;

}
.fakeimgA{
  border-radius: 15px;
  height: 1000px;
  filter: sepia(30%);
  filter: grayscale(75%);
  -moz-boxshadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}
.fakeimgB{
  border: 3px;
  height:100%;
  filter: sepia(40%);
  filter: grayscale(75%);
  -moz-boxshadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}
.FILMCOVER3 {
  width: 100%;
  height: 700px;
  background-image:url("https://lh3.googleusercontent.com/ipOf2Vynp8RjUp4uVAZ2VT-KEvWtP5htcG9OFk4I5Gd9OS1AayFLcCbLE46nRi6JoUGtmXj7PycvS_wV-zKudu9vCdfPEyILS_VpqvqqIML74GPVxBD5O5PqXFAR8iF2_5_6r5wb3837rwuPKDMlApCuc6sXyFSo52DFaF56gIwa2rYt94KNyvRHClv3sJjDdqeSR0a-2H0ZONyVrQWB2EXYiT9qix8umlaPPo9PzzQX3pzAq3tNkApL8nNw4DjcRd5UbDPN00COezx_HqwoMwmORwKRpN9tfl6VhEB02M02amKmtE66xiRKp1Tx8P5nw4Revq_R5G0t0l2VLICKyLPWlK8VrrLy1hEJEb4M-gk2qD56cwDj4vjoZbDZCYi4pgnx1uk4kSdUToBsIiLKTEmz3M0RPjnYeFkYLhgEzFxrnVDHY9LSaarmN4nW7OZ4V50QlOkeXTwuhO05pMcBedlpyibMSSoGEG7crqDHxx_ecGoRAoz-Ki0PBdcGXtySuHlHI8u_hXIKy3m1a2mTiFMoSL2K_IcWSCQB8ESdYAnwzHL3WGUTPnbyssnSYJILRi86blF-3QQitM-sWZU1VxYvhhvF9UrF3HesmUzB69wnmr5tiZ6_0ilsh4Oagi7d-v7E4NVNK3U51SyxS_8NKQKTGxN-7tSNWOxoTUds3LORWkq2pHwj-4vkFQOkSjoKskOtJtQvWsYjm3nbpgp1JkZhDepZHzu0-_Lcjzkj6rmU0_CoEgopQXOTEqq7WMk=w603-h903-no?authuser=0");
  background-size: contain;
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);
  -moz-boxshadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}
.FILMCOVER2 {
  width: 100%;
  height: 1000px;
  background-image:url("https://photos.google.com/share/AF1QipNM1jHMTwT8IrD72z8a9TAMoSP0spnh4vvZf8opMngdfaozzEZaU-IatR18YGIfGQ/photo/AF1QipPMkb6m0gfwINO-TeAdmZGeOjQxrmWPE6y8nM6x?key=UVJwSURpWklTNlhrRzR1dFZrTTM3bXVYX2VpQVNR");
  background-size: contain;
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);
  -moz-boxshadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}
.FILMCOVER1 {
  width: 100%;
  min-height: 300px;
  height: 300px;
  background-image:url("https://images.unsplash.com/photo-1569961384048-0001b31bb6f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: contain;
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);
  -moz-boxshadow: inset 0 0 5px black;
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
}

.SOCbar{
  padding: 00px 50px 00px 50px;
  overflow: hidden;
  background-color: inherit;
  justify-content: center;
  display: flex;
  float: left;
  left: 20px;
}
#email, #Behance, #LinkeIn, #Twitter, #CV{
  display: flex;
  transition: 0.5s;
  color: red;
  filter: invert(80%);
  text-align: center;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  max-width:90px;
  height: 50px;
  transition: transform 1.5s;
  margin: 0 auto;
  }
#email:hover, #Behance:hover, #LinkeIn:hover, #Twitter:hover, #CV:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(0.1); /* Safari 3-8 */
  transform: scale(1.08);
  filter: invert(50%);
}
/************************************************* PORTFOLIO PAGE */
.OPTBAR{
padding-top: 30px;
padding-bottom: 20px;
overflow: hidden;
background-color: inherit;
justify-content: center;
display: flex;
}

.BARCAT{
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: inherit;
  justify-content: center;
  display: flex;
  font-family: 'Tiro Devanagari Hindi', serif;
  opacity: 50%;
}
.BARCAT a {

  display: block;
  transition: 0.5s;
  color: black;
  text-align: center;
  padding: 20px 80px 20px 80px;
  text-decoration: none;
}
.BARCAT a:hover {
  display: block;
  opacity: 100%;
  color: #6b705c;
}
.homebutton a{
  float: right;
  font-size: 17px;
  position: absolute;
  right: 100px;
  padding: 20px 40px 00px 40px;
  color: black;
  text-decoration: none;
  justify-content: left;
}
.homebutton a:hover {
    color: #6b705c;
  }
.parallaxFIRST {
  padding-left: 50px;
  padding-right: 50px;
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1589672777819-7a4fee080ae9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1181&q=80");
  /* Set a specific height */
  min-height: 625px;
  max-height: 620px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxSECOND {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxthird {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1499428665502-503f6c608263?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxfourth {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1534330207526-8e81f10ec6fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.QUOTEPORTFOLIO{
  padding: 50px;
  border-radius: 15px;
  background-color: white;
  font-size:16px
  color: black;
  align-content: center;
  text-align: justify;
}
.CONTENTPORTFOLIO{
  padding: 50px;
  border-radius: 15px;
  background-color: white;
  font-size:16px
  color: black;
  align-content: center;
  text-align: right;
}
.STRUCTUREROW{
  display: -ms-flexbox; /* IE10 */
  display: flex;

  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  }
.CONTENTBOX{
  right: auto;
  position: relative;
  width: auto;
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-image: radial-gradient( #141414, #111111, #000000);
  ackground-color: white;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.CONTENTBOXRIGHT{
  border-radius: 15px;
  right: auto;
  min-height: 500px;
  position: relative;
  width: auto;
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-image: radial-gradient( #141414, #111111, #000000);
  ackground-color: inherit;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
#SEBAS{
  max-height: 500PX;

}
.IMGBACK {
  opacity: 1;
  display: block;
  width: 100%;
  max-height: 400px;
  min-height: 300px;
  transition: .5s ease;
  text-decoration: none;
  filter: grayscale(30%);
  backface-visibility: hidden;
  Background-image: url("https://lh3.googleusercontent.com/UDWGXZp57ibE7cXzP7ibdPBJZzYj422Vuf-G4yChdEKkhsfaAeOfYLDYPqs1HR3z49yminfsZOovsQ2Gs5iCPqKQZU0xXFlrvcJrCj_mVbcNPI8yLcF0fq2tPyuE140G0z3vQkp35rl_OWAtTqWNFV1pwBcN81W_90XjJ8LVg2CvPRGa2WB4yUrKo18JCXCUi8sBA_JMpdDEnsn3eItVQbnCI8xGVP3MhKN2jkgXXebqqW_Rz5SRs2yqYKC54GPRanqS4XtY6ZFtjgt5hBJNbJN-4FGY2AcEaXt5AuaSN6yZY3i4DeVH4tT40_bsBT2miALOI_8GsyrJoi4QBqLSpYJ15cSFHzA-QTxsT80L2jDDYssyqkcn9SjJdljUbzR6XcLtJgXSB8LZiUIeTva0fRzxtKpSjfhsRRMjuSNDTApX060_kYYPeRw5_2DnzsB-f8kagqXihibVV9WpPKyxyMo1TP2_jlHZRXDQKnmM3Hd5dS7bR5U-QA_Ppp67lBPk0JV7t7s1L70zXaFTi_e0Pqc-zIR8hGM7K0kIujqQmq9BzhdAdb25BjoAl4e6R-dMbAPQ74iIUzI_c0Qj9ZKscKmF-5Ttw0JJnI_LlYrm-RPMxThIlP0NdAOM3QNsNIw5peoWsi85fEFB73_Fg_M1li2A5QdSSId50f8YEGtYuCaC2kfn0AKvhcfZ5nALc2bntv08jILWV-YNDrtcIjTHCrJVNUcIL5D6XcYQ8JN1lWRXLnxhSB4o3TjD55RoMhPhn-qKZ7C5efk0ZfKiEr7_Bndo9AT3jn1CB9jRC4U-eMVK2j1biKJp9DRFU2feMBX-y73n19Dfe9ORbrsTJhzkPAgwtlfuzB76pSZcZQjYPIifPnfQlcxthIs6xblmIgRLRULudeR49t8kDtSPV1qn-QaW07gWBvhwqLKh9K9L8g=w1242-h903-no?authuser=0");
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.IMGBACKB {
  opacity: 1;
  display: block;
  width: 100%;
  max-height: 400px;
  min-height: 300px;
  transition: .5s ease;
  filter: grayscale(30%);
  backface-visibility: hidden;
  background-image: url("https://lh3.googleusercontent.com/fg-eFFFIQc9wLjuCYMOSHNthLJMZCqDpQsFBcE5_teOAotG15BxTLEf8G-9wqZXaaYBI-BJfSIIRY4IIrb5U3Qis4m9oCZpzJ5O_pRFlkRy_b82g-9NOSMeX5o65zimW3QfwWMQ6kTrOWY5gZd6zUOgnxGON3hGcZApn77Ek5jDXFTFlWt0xJI-mKm6uk7sLtNn9obxnTK67YwtAWkDVd7rl6-WW3f9AH8hOkhiIIP5q9hfBxlR-aGsDQfTN7XoK_wb3H6pYRsTsk6Q7uKY8BFqp1Ocjao0uk3OjSC0ddVYqwkCjogBWgv9saKP7uE5bEHQpoYpu9-FY6vL1iRB1feNtDJgQ11SoSjYZ-MKN0FbwLYaPzxuExNFv9tvsvLFb0VdJYLEt6lsFz5ycjI9tQLyDceliBYH-ybbE4lK4mXw3nLX2GIH1Tn9cwm4MIEPatx4yMSWZ2ryJQAnNniCUTXhYEpogVb3bo41XBnclPcnPZ1UtYoozjEMNVAkNCCpvVPiRiz8TB9xxiFwgDN4s4zCi5e1KYY1JAMUOyM23AKIyvoijUsdVFVvLAubYEoqt4WkDOTVupX-zb8qPp4LVnRm82VcFbgW9RQBH33ADEhx84ldfXyYOuInQhGWbcFT-8gTWE5QCrTkAwfvS-XWSn9tatMBAOtv5ZmMirPv654ecGbs3JZSQe3jjT_IrHG9gmMxEKm7rONPph7rNprKLq0ojMFJZDtU6_TETs2H8twf5Bus-7jx-7RFW5q_jVl-JEPjBRnA5e5UB8cGU8GcW313pCZScMV-FMzvHND2X7hV887Mn0iVktsWnVu_NablIMQSKrGdiZHoRyMbNsntunitlfUvzlwRF1UD8yJ_vN7jQysIWAkL6AUsYbErJbEOHguJXRpZniS0SHI0cV3CstISNscVaC2PnzFX1uBYWig=w1354-h903-no?authuser=0");
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: 50% 40%;
  border-radius: 5px;
}
.IMGBACKC {
  opacity: 1;
  display: block;
  width: 100%;
  max-height: 400px;
  min-height: 300px;
  transition: .5s ease;
  filter: grayscale(30%);
  backface-visibility: hidden;
  background-image: url("https://lh3.googleusercontent.com/PfVCpzwnHIPWQFi68uEzFx8IrnU0LKNT20gB0SFblUp28YwTaEk7I_Pn80E6eSTW8581J3gPavYY4eTLIYBdoSlfMYQgjSCCStBU6Rhst5nEvW9AcYKOrMtou2vmAWzNfkIjv5NZdW6929PP5_9QB0N9k7xH5rYqo3z3LWP_N_VflZU8MqcDcfzvLbfEYunK5KII0nexT8HWZsbFOHKBnP3xiGbBmlOeAbRSB1M-wBTAiEF9Gfu0WuyfRLPwZ89iIuUZcXe24XFq9WqOtYFa3wouC3Hq3sn8PcdOY6MUjFtx2Uq2o_xXAlgElABPFchyh5LuPQ75FzP_boumvT95wMJAYlXA63HJjxL0HeXogbFs-jQw5ZkU3Bw9ysOFV4LwO7VgmXhKJYqgycw_5AKz6kP45vAyoI3DgFMALKAYcBUaGNkRqpK5kkQ-B9268dyisl5oUuDruL_BKX9fR6MjOtC2FBwE7x5Qda_Edei-SmEcHKHqUBdnuyq4cHBfmvOOvtuSHwsEDWf-KaS4n8zxyAvpDd7o1sk_5DsRQ4Oh4kA3NPNbHrUpfx_WPm7uzQeDYK1MInKpqhd4PA7p20NTrjgV8FWJYxhUY7CzalxtDP2zamBXynt6S59WAXsOanjPu8nBa-WPX5f7sxQoFfgci5Uy4mLuCemGz0NcNjzeCc7Ka4ByXmDHeMOhpkxG9GPoXcuVrQoXpk42yqF6_zmowLe6Mau1kPbsivsSRv_AwcH84E-IjZ4MbDc5YV1cB9_vdKZ30yT45w4imdEiWszkwtfV18UzO0JlBEtRokW5Rjt_C3bXJSJm-XPoL4JrMlw9IZGTk1dGrIsg9O1HusksKSBx6G_sOQwcoInQvT3uD7B9dPYgnTy9R6h3r1DIm7CBqV0TOBFeJ4hu4WGgVAZgTFE6eqy5jNjNMUSdBTS6JQ=w603-h903-no?authuser=0");
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position:50% 2%;
  border-radius: 5px;
}
.IMGBACKD {
  opacity: 1;
  display: block;
  width: 100%;
  max-height: 400px;
  min-height: 300px;
  transition: .5s ease;
  filter: grayscale(30%);
  backface-visibility: hidden;
  background-image: url("https://lh3.googleusercontent.com/Dfz7wISMJ9fTMJAtlgLIuZVEdU-xqD7yjOS01Mnq3mtsaxHQgMH5ZOOd66mFdOvyHtp3nE3-3SriaiASYEIK79P-KEaHzaV0vPd0XUiFfij1Ts9h-B9JYodVVF9PuRcTjeSL9IIWN60GTGswGaqPohdKS4bl2yFe3rIrB4k7W7J_EvGYxtXwkXolSDYuNj4LeaNi-BvQ92mYj4fMwDwUAwWChd-OPT0LaL2xdbXa2Rx6QsUIYV9FDQqguDUB9kLWbrg-0d7qprx_4pe46vfbo7pdwnzCkqHpnmf6wcK63FpzW2b7uhhvhY0k3OAu1lYJ5YfsxV6dkYnjVTKuHuW1IOjsoXEUSu_KJ-2IgPAXyaKcfIDc85fVIanQbEj1hze0FxtiQKWtRiyqn9_5y0vcJvEz8us9fnEbc1PfEWa-4xC53xvqrobNbgY6_rRwYG5fasQer0fJoZlno_1lP85jq_XJv8xZdJdXLAOHAej_-krcdygjqOp-yKAuaUnEIknWMskO1PEfH2Wb_AfEmBQPxBK56913GqAOxvgMtU2DYVWEH79V-Cos6MS-VUPXLQvtcWXBnlFZxrkha5H4H692C4VcHNwudXN4ns5akFNrBUcA9rMAjbgc1mAY2hgty3HniihjPsO1edJA_q52E1Dii__XhfxNUGXJ_92UkkoaWvuoVTzwhQyvnsAhILKoZfMnaxSSLqSfcJS1WKKKKrdcR_E9DptEtmbSVcqP5Dwvmm6zHW9skHzO6wCeLTveVgNu8eTk4d3emgAxUgz0Egmn7vkaZBneiL-fJQjK_bBWlwMohWooNgquBEUXjK0AtWyNSUQuC73VPeNYwuzKQLzscySpYdU-SHnPwYkJaTXNBi4_D1pU_HDxN-j1EZVq2c8gIpCJ31YW0R1R2xU6l8C019h41IoEAUi6ZagN1Sr1QQ=w641-h360-no?authuser=0");
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  background-position: center;
  border-radius: 5px;
}
.IMGBACK:hover .OPALAYER{
  opacity: 75%;
  background-color: #0b0b09;
}
.IMGBACKB:hover .OPALAYER{
  opacity: 75%;
  background-color: #0b0b09;
}
.IMGBACKC:hover .OPALAYER{
  opacity: 75%;
  background-color: #0b0b09;
}
.IMGBACKD:hover .OPALAYER{
  opacity: 75%;
  background-color: #0b0b09;
}
.OPALAYER{
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
  opacity: 0;
  transition: 1s ease;
  border-radius: 5px;
  background-image: radial-gradient(#463f3a, #000000);
  text-decoration: none;
  display: block;
  padding: 20px;
}
.FOOTER{
  height: 20px;
  overflow: hidden;
  background-color: inherit;
  justify-content: center;
  display: flex;
  transition: 0.5s;
}

.FOOTER a {
  padding: 8px;
  transition: 1.5s;
  font-size: 12px;
  float: right;
  display: block;
  color: #a5a58d;
  text-align: center;
  text-decoration: none;
}
.FOOTER a:hover {
  background-color: inherit;
  color: #000000;
}

#PROJECTA, #PROJECTB, #PROJECTC, #PROJECTD{
  color: white;
  text-decoration: none;
}
#Quote{
  font-style: normal;
  font-size: 12px;
}
#Author{
  font-style: italic;
  font-size: 8px;
}
#COVERABOUTPHOTO{
  filter: grayscale(25%);
  border-radius: 15px;
}
/* Bottom right text */
#ABOUT{
  position: absolute;
  bottom: 100px;
  right: 240px;
  text-align: left;
  font-size:14px;
  padding-bottom: 1px;
  opacity: 50%;
  background: -webkit-linear-gradient(#dad7cd, #353535);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
H3{
  text-align: center;
  font-size:20px;
}
* {
  box-sizing: border-box;
}

/* ***************************CRUNKYKID*/

.zoom {

}

.img{
  padding: 0px;
  background-color: inherit;
  transition: transform 3s;
  margin: 0 auto;
}
.img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(0.1); /* Safari 3-8 */
  transform: scale(1.05);
}


/* Column container */
.mainbox {
  color: #d4c7b0;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.leftside {
  -ms-flex: 40%; /* IE10 */
  flex: 40%;
  background-color: inherit;
  padding: 20px;
  text-align: right;

}
.side1 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: inherit;
  padding: 20px;
}
.main1 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: inherit;
  padding: 20px;
}
/* Main column */
.rightside {
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
  background-color: inherit;
  padding: 20px;
}

/* bottom column */
.bottom {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: inherit;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  text-align: justify;
  background-color: inherit;
  ackground-image: url("https://lh3.googleusercontent.com/-LgOYXkL3ELmT74Q43_7i_tEFuE91WZhQSWKy3RahjM7oSAlhYuGjWCDj9vcIQxgHD-j01Bxr3opmm5XeZmwHrUD4JKnlOwUoFPqoms710HUgvbL2kTRG6aV-yLyEvJuKhdf2_dPSY19VKDhN0p8uKyAF0AMocEmKUwIxFq-2_CCLu5AOhFPUkI0QSm8_UaZU4WWoKQ9SMrK-Zs-SiQ4lcupI4kaLhOXXZm8Gfw0pXNzE7l4yOiQVeurTy95PwyWrZmneH7ntzbkn4ai8HBPaOA6lQ6do5Ma7JpKB_u9fNlZ7Fy_qSE26X3WfsE48oFtGoXuiCQH_1ve3n5RczEMXbKf0Np5U-QkW693xiX2ghWmxtJD7imywyTbLuwF--5bgfFCllemOwuz0QL1knj2N_mz8i3P7VTBjMZer_ZyI8j94UpfShRTrPDb9bu44D6EjNY44IOqFcGfJzxH4bVmkba9ToRrhJfEKYgVZp_8oXNRwOg40mmDC46nFz6k2LYej3aSR4vj4oLUfeoSVeEWbz9NO3-9EHHNp89AV0h5yFyUyFhOUbhzkJU2Zas1XKI_-UWz4yaWci1r8aCK_i-uXpO_exs8JUyawZ4fUzFT7yZZ00tBvvFdocYpBG8BYWk2vZqU3qwj64jfqQiDDLxotxIOJGodG4Tow0QP8IqQz5CRzZhrVYQH65y_ZIxT4Z-UiREPDYa10CYhLjvOFloALU7_6_x9a68qeqVm962m2yseEj8kjYb_jszTklhpDKWokv0KFfzAmPBMgbIPBYhzNV553UCQKzR25fKiJdAnHzeY9GOqNHR02IWkUoJZ6NEfbhV641esQtoaPNB7MJPnmO4_zVdnCqKQTHsAzN2dqHjvrb0CWJGOhBPAnO67fD0sYU5EC-J46U46EbwMcOugKvSIS_NsBoJtFmdVlKV1Vg=w1355-h903-no?authuser=0");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 10px;
}
img{
  max-height: 800px;
  width: 100%;
}
.ChocoMock {
  min-height: 600px;
  max-height: 800px;
  text-align: justify;
  background-color: red;
  background-image:("D:\Pend\ill\assets\chocolate_mock_1.png");
  background-size: contain;
  background-position: center;
  width: 100%;
  padding: 00;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
/************************CONTACTPAGE**********************************/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  color: yellow;
  background-color: inherit;
  border: 2px solid #a5a58d;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



input[type=submit] {
  width: 100%;
    transition:1s;
  background-color: inherit;
  border: 2px solid #a5a58d;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #945600;
  filter: grayscale(75%);
  transition:0.5s;
  border-style: solid;
  border-color: red;
  background-color: inherit;
}

.CONFORM {
  border-radius: 5px;
  background-color: inherit;
  padding: 20px;
}
/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;

}

/* Location, Phone, Email Section */
.contact-list {
  right:400px;
  text-align: left;
  background-color: inherit;
  list-style-type: none;
  margin-left: 0;
  padding-right: 50px;
}

.list-item {
  line-height: 4;
  color: red;
}

.contact-text {
  letter-spacing: 1px;
  color: #a5a58d;
}

.place {
  margin-right: 100px;
}

.phone {
  margin-right: 100px;
}

.gmail {
  margin-left: 0px;
}

.contact-text a {
  color: #a5a58d;
  text-decoration: none;
  transition-duration: 1s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  background-color: pink;
  cursor: pointer;
  transition: all .2s ease-in-out;
}



.social-media-list li:hover {
  background-color: red;
  transform: scale(1.12);
    opacity: 1;
}



.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: #a5a58d;
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control, textarea {

    margin: 0 auto;
  }


  .name, .email, textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
/*****FOOTER*****************************************************

  .FOOTER{
    overflow: hidden;
    background-color: black;
    justify-content: center;
    display: flex;
  }

  .FOOTER a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
  }
  .FOOTER a:hover {
    background-color: inherit;
    color: #d4a373;
  }

  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
  }
  <div style="text-align: center; ">
    <p>I help brands innovate, change and grow through integrated visual concepts, strategy and creativity.</p>
  </div>
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
  @media screen and (max-width: 400px) {
          .row {
        flex-direction: column;
        }
      }
        .navbar a {
          float: none;
          width: 100%;
        }
      }
  @media screen and (min-width: 601px) {
    div.example {
      font-size: 30px;
    }
  }
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
